<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicWindow.Properties.Settings>
            <setting name="PlaylistDirectories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MusicFileDirectories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ManagedPlaylists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CurrentSong" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DockedPlaylists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TrackPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </MusicWindow.Properties.Settings>
    </userSettings>
</configuration>